.dashboard{
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 10fr;
  grid-template-areas:
          "teams channels header"
          "teams channels messages"
          "teams channels sendMessage";
}

.teams{
  grid-area: teams;
  position: relative;
  z-index: 100;
  min-width: 75px;
  background: linear-gradient(to bottom right, #0f5e87, #0793a5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: visible;


  &__title {
    width: calc(100vw/13);
    min-width: 75px;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;  left: 0;
    border-bottom: 2px solid #0f5f87;
    background: linear-gradient(to bottom right, #0f5f87, #0b7996);
  }
}

.team{
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border: none;
  border-radius: 100px;
  background: #888;
  color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);

  &__letter{
    display: flex;
    text-shadow: 0 3px 3px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    cursor: default;
  }

  &:hover{
    background: #999;
  }
}

.sidebar{
  grid-area: channels;
  min-width: 150px;
  background: linear-gradient(to bottom right, #089fb7, #6ab2c4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;

  &__title {
    width: calc((100vw / 13) * 2);
    min-width: 150px;
    height: fit-content;
    min-height: 100px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    bottom: 0;
    margin: 0 auto;
    border-bottom: 2px solid #089fb7;
    background: linear-gradient(to bottom right, #0f9fb7, #42a9bf);


    &--team{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: calc((100vw / 13) * 2);
      min-width: 150px;
      padding: 0 10px;
      font-size: 20px;
    }

    &--user{
      display: flex;
      justify-content: center !important;
      align-items: center;
      width: calc((100vw / 13) * 2);
      min-width: 150px;
      padding: 8px 5px 8px 0 !important;
    }
  }

  &__user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc((100vw / 13) * 2);
    min-width: 150px;
    padding: 5px 0 5px 15px;

    &--status{
      height: 12px;
      width: 12px;
      border: none;
      border-radius: 50%;
      background-color: #00cf42;
      margin: 0 10px 0 0 ;
    }

    &--name{
      font-size: 15px;
      font-weight: 100;
    }

    &:hover{
      background: rgba(255,255,255,0.2);
      cursor: default;
    }
  }


  &__section{
    margin-top: 10px;
    margin-bottom: 15px;

    &--title{
      width: calc((100vw / 13) * 2);
      min-width: 150px;
      font-size: 18px;
      font-weight: 100;
      padding: 5px 5px 0 10px;
    }


    &--item{
      width: calc((100vw / 13) * 2);
      min-width: 150px;
      font-size: 15px;
      font-weight: 100;
      padding: 5px 0 5px 20px;

      &:hover{
        background: rgba(255,255,255,0.2);
        cursor: default;
      }
    }
  }


}


.header {
  grid-area: header;
  height: 50px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title{
    font-size: 25px;
    color: #555555;
    font-weight: 100;
  }
}

.messages{
  grid-area: messages;
  height: calc(100vh - 150px);
  min-height: 450px;
  background: white;
}

.sendMessage{
  grid-area: sendMessage;
  height: 100px;
  background: #9e9c95;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__textArea{
    height: 80%;
    width: 70%;
    resize: none;
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2) ;
    background: white;
    color: #333;
  }

  &__send{
    height: 45px;
    width: 130px;
    background: linear-gradient(to bottom right, #20a760, #58b4a6);
    color: white;
    font-size: 15px;
    font-weight: 100;
    border: none;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2) ;
  }
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltip__text {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  font-size: 15px;
  width: fit-content;
  height: 50%;
  background-color: #555;
  color: #fff;
  padding: 20px;
  border-radius: 100px;
  white-space: nowrap;

  /* Position the tooltip text */
  position: absolute;
  top: 30%;
  left: 115%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 200ms;
}

/* Tooltip arrow */
.tooltip .tooltip__text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: #555;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip__text {
  transition-delay: 500ms;
  visibility: visible;
  opacity: 1;
}


