.header {
  grid-area: header;
  height: 50px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title{
    font-size: 25px;
    color: #555555;
    font-weight: 100;
  }
}