/node_modules
/public/bundle.js
/public/bundle.js.map
/public/style.js
/public/style.js.map
webpack.config.js
postcss.config.js
.env.development
.env.production
.env.test
/.idea
slack-clone-frontend.iml
yarn.lock
